@model string
@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading">@Html.ModalProperty(Model + "Heading")</div>
    <div class="panel-body">
        @Html.ModalProperty(Model + "Body")
    </div>
</div>