@model MVCForum.Website.ViewModels.DownloadsViewModel

@{
   
}
@section title {
    <h1>Downloads</h1>
}

<table class="table table-striped">
    <thead>
        <tr><th>Product</th><th>Version</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Downloads)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Version</td>
                <td></td>
                <td><a class="btn btn-primary" href="@item.Url">Download</a></td>
            </tr>
            
        }
        
    </tbody>
</table>