@model MVCForum.Website.ViewModels.DownloadsViewModel

@{
   
}
@section title {
    @Html.ModalProperty("DownladsTitle")
}

<table class="table table-striped">
    <thead>
        <tr><th>Product</th><th>Version</th><th></th></tr>
    </thead>
 
        @foreach (var item in Model.Downloads)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Version</td>
                <td></td>
                <td><a class="btn btn-primary" href="@Url.Content(item.Url)">Download</a></td>
            </tr>
            
        }
        

</table>