@model dynamic
@section title {
    <h1>Slack Invitations</h1>
}
@section fullwidth {
    <div class="container-fluid">
        <div class="row">
            <h2>@ViewBag.Message</h2>
        </div>
    </div>
}
