@using MVCForum.Website.Controllers
@model MVCForum.Website.ViewModels.MarketProductViewModel
@*@Html.Raw(AppHelpers.ConvertPostContent(Model.Description))*@
<div class="container-fluid">
    @Html.MarkdownProperty("Description")
</div>

@Html.Partial("SectionList")
