@model MVCForum.Website.Controllers.ProductsMenuViewModel
           @{
               Layout = null;
           }
<ul class="dropdown-menu" role="menu">
    @foreach (var item in Model.Product)
    {
        <li><a href="@Url.Action("ProductInfo", "Market", new {name=item.Name})">@item.Title</a></li>
    }
</ul>